.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 1px;
    box-shadow:
        0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    fill: #000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    fill: var(--accent-color);

}

.modal-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    Letter-spacing: 0.03em;
    margin-bottom: 12px;
    text-align: center;
}


.form-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
    resize: none;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-comment::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    Letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.form-label {
    margin-bottom: 4px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    Letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
}

.form-div {
    position: relative;
}

.modal-svg {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox {
    appearance: none;

}

.terms {
    position: relative;
}

.terms span {
    margin-left: 36px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

}

.contract-terms {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);

}

.nochecked-icon {
    position: absolute;
    top: 2px;
    left: 13px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked-icon {
    position: absolute;
    top: 2px;
    left: 13px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked~.nochecked-icon {
    opacity: 0;
}

.checkbox:checked~.checked-icon {
    opacity: 1;
}

.div-for-button {
    text-align: center;
    margin-top: 30px;
}

.modal-send-button {
    display: inline-block;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--secondary-accent-color);
    font-family: roboto, sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    letter-spacing: 0.06em;
    width: auto;
    padding: 10px 55px;
    border-radius: 4px;
    border-style: hidden;
    box-shadow:
        0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:hover,
.modal-send-button:focus {
    background-color: #188CE8;
}



.form-input:focus~.modal-svg {
    fill: var(--accent-color);
}

.form-input:focus {
    border: 1px solid var(--accent-color);
}

.form-comment:focus {
    border: 1px solid var(--accent-color);
}